body {
    margin: 0;
    padding: 0; 
    height:100vh;
    font-family:"PixelBig", sans-serif;
    background-image: url("screen2bg.png");
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.screenhidden{
    text-align: center;
}

/* Container */
.circle-timer {
  position: relative;
  width: 220px;
  height: 220px;
  margin-top: 10px;
  margin-left:30px;
  transform: translate(260px, -30px); /* right, up */
}


.progress-ring {
  transform: rotate(-90deg); 
}


.progress-ring__bg {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 12;
}


.progress-ring__progress {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 12;
  stroke-linecap: round;

  stroke-dasharray: 628; 
  stroke-dashoffset: 628; 
  transition: stroke-dashoffset 1s linear;
}


.timer-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#start-button {
  margin-top: -30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#start-button img {
  width: 220px;      
  height: 220px;
  object-fit: contain;
}

#restart-button {
    margin-top: -20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

}
#restart-button img {
  width: 150px;      
  height: 150px;
  object-fit: contain;
}

#back-button {
    margin-top: -20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

}
#back-button img {
  width: 150px;      
  height: 150px;
  object-fit: contain;
}



#restart-button,
#back-button {
  position: relative;
  top: -80px;
}

#start-button {
  position: relative;
  top: -50px;   
}

#river  {
     margin-top: 50px;
    margin-left: 100px;
}
